body {
    background-color: beige;
}

input,
button {
    padding: 5px;
}

input {
    width: 150px;
}

#submitMessage {
    font-size: 24px;
}

#pictureBox {
    margin-bottom: 32px;
}

.picture {
    display: none;
    vertical-align: middle;
    width: 150px;
    height: 186px;
    margin-right: 54px;
}

#stage0 {
    background-image: url("stages/0.png");
}

#stage1 {
    background-image: url("stages/1.png");
}

#stage2 {
    background-image: url("stages/2.png");
}

#stage3 {
    background-image: url("stages/3.png");
}

#stage4 {
    background-image: url("stages/4.png");
}

#stage5 {
    background-image: url("stages/5.png");
}

#stage6 {
    background-image: url("stages/6.png");
}

#stage7 {
    background-image: url("stages/7.png");
}

#message {
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
}

#blankBoxes {
    margin-bottom: 15px;
}

.blank {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 35px;
    border-bottom: 1px solid black;
    font-size: 30px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 25px;
    user-select: none;
}

.blank.notGuessed {
    color: red;
}

#letterBoxes {
    width: 650px;
}

.letter {
    display: inline-block;
    width: 48px;
    height: 41px;
    background-color: white;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    padding-top: 7px;
    user-select: none;
}

.letter:hover {
    background-color: lightblue;
    cursor: pointer;
}

.letter.used {
    opacity: 0.25;
}

.letter.used:hover {
    background-color: white;
    cursor: not-allowed;
}
